@* Navigation menu *@
@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm fixed-top">
    <div class="container">
        <!-- Home Button / Logo -->
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/images/home.svg" alt="Home" height="28" class="me-2" />
            <img src="/images/DTRL Logo.svg" alt="DiverseTech Robotics Ltd." height="40" />
        </a>

        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Right side menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#services">Our Services</a>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/videos" Match="NavLinkMatch.All">
                        Videos/Photos
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/customer-content" Match="NavLinkMatch.All">
                        Customer Content
                    </NavLink>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/#about">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
